.combo-box {
    -fx-background-color: #fff;
    -fx-border-color: #fff;
}
.combo-box > .label {
    -fx-text-fill: #669bbc;
}
.combo-box .list-view{
    -fx-background-color: #fff;
    -fx-border-color: #fff;
}
.combo-box .list-view .list-cell:selected{
    -fx-background-color: #669bbc;
    -fx-text-fill: #fff;
}