.choice-box .context-menu{
    -fx-background-color: #fff;
}
.choice-box .menu-item:focused{
    -fx-background-color: #669bbc;
}
.choice-box .menu-item > .label{
    -fx-text-fill: #003049;
}
.choice-box .menu-item:focused > .label{
    -fx-text-fill: #fff;
}