.default-color0.chart-pie {
    -fx-pie-color: #0077b6;
}
.default-color1.chart-pie {
    -fx-pie-color: #00b4d8;
}
.default-color2.chart-pie {
    -fx-pie-color: #bbd0ff;
}
.default-color3.chart-pie {
    -fx-pie-color: #b8c0ff;
}
.default-color4.chart-pie {
    -fx-pie-color: #c8b6ff;
}
.chart-pie-label{
    -fx-fill: #fff;
}
